h3 {
    min-height: 30px;
    min-width: 120px;
    max-height: 50px;
    max-width: 300px;
   color: cadetblue;
    margin: 0 auto;
}

h6 {
    color: red;
}

.main {
    width: 500px;
    height: 200px;
    margin: 10% auto;
    border: activecaption outset medium;
    padding: 25px;
    text-align: center;
    background-color: #E6E6FA;
}

body {
    background-color: #B0C4DE;
}

.post {
    width: 500px;
    height: 200px;
    margin: 10% auto;
    border: tomato outset medium;
    padding: 25px;
    text-align: center;
    background-color: #E6E6FA;
}

a {
    background-color: tomato;
    color: white;
    padding: 0.2%;
    border: brown double thin;
}